<nav class="navbar navbar-light header">
  <div class="container-fluid">
    <div id="menu-button ms-auto">
      <input type="checkbox" id="menu-checkbox" />
      <label for="menu-checkbox" id="menu-label">
        <i class="bi bi-list"></i>
      </label>
    </div>
    <form class="d-flex" method="get" action="/">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="s"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div class="account">
      <img
        src="images/pp.jpg"
        alt=""
        class="img-thumbnail rounded-circle"
        width="30"
      />
      <span class="ms-2 me-2">Firman Perdana</span>
      <i class="bi bi-box-arrow-right"></i>
    </div>
  </div>
</nav>
